*{
    margin: 0;
    padding: 0;
}

.navbar{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
    background-color: #E9E9E7;
      
}

#logo{
    margin-left: 20px;
    font-size: 36px;
    color: black;
}

a{
    text-decoration: none;
}

#lab{
    color:black;
}

#maincode{
    color:black;
}

#blog{
    color:black;
}


#each{
    color:#E9E9E7;
}


.home{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: calc(100vh - 65px);
}

.home-projects{
    width: 33.333333%;
    background-color: rgb(58, 58, 58);
    
}

.home-projects p{
    padding-top: 300px;
    text-align: center;
    color:#E9E9E7;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    

}

/* remove this or find a way to make the background around text change into button */
/* p:hover{
    background-color: #919135;
    background-size:contain;

} */

.home-projects:hover{
    /* background-color: #4f4f4f; */
    background-image: url("imgz/amsterdam.jpg");
    /* background-size: 50%; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.home-buttons{
    position: absolute;
    display: flex;
    justify-content:center;
    width: 100%;
    bottom: 40%;
    flex-wrap: wrap;
}

.home-buttons button{
    margin: auto 5px;
}

button{
    background: none;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background-color: #E4E0DB;
    padding: 10px 20px;
}


/* USE THIS FOR DESKTOP DISPLAY */
/* button:hover{
    background-color: black;
    color: #E9E9E7;
    
} */


/* #lab:hover{
    color:#E9E9E7;
}

#maincode:hover{
    color:#E9E9E7;
}

#blog:hover{
    color:#E9E9E7;
} */

